In [30]:
import pandas as pd

In [31]:
f_name='movies.csv'
df=pd.read_csv(f_name)

In [32]:
df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [34]:
df.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [35]:
for col in df.columns:
    if df[col].isnull().any():
        cnt=df[col].isnull().sum()
        print(col,cnt,sep='-->')

Age-->9390
IMDb-->571
Rotten Tomatoes-->11586
Directors-->726
Genres-->275
Country-->435
Language-->614
Runtime-->592

In [36]:
for col in['IMDb','Runtime']:
    df[col]=df[col].fillna(df[col].mean())

for col in ['Directors','Genres','Country','Language']:
    df[col]=df[col].fillna('unknown')

In [37]:
df['Age'].unique

<bound method Series.unique of 0        13+
1        18+
2        13+
3         7+
4        18+
        ...
16739    NaN
16740     7+
16741    NaN
16742    NaN
16743    NaN
Name: Age, Length: 16744, dtype: object>

In [38]:
# df['Age'].value_counts()
df['Age']=df['Age'].fillna(df['Age'].mode()[0])

In [39]:
df['Rotten Tomatoes']

0        87%
1        87%
2        84%
3        96%
4        97%
        ...
16739    NaN
16740    NaN
16741    NaN
16742    NaN
16743    NaN
Name: Rotten Tomatoes, Length: 16744, dtype: object

In [40]:
df['Rotten Tomatoes']=df['Rotten Tomatoes'].str.removesuffix('%').astype('float')#missing values always in the form of float,we cant convert them as int

In [41]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.800000,87.0,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.000000
1,1,2,The Matrix,1999,18+,8.700000,87.0,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.000000
2,2,3,Avengers: Infinity War,2018,13+,8.500000,84.0,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.000000
3,3,4,Back to the Future,1985,7+,8.500000,96.0,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.000000
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.800000,97.0,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,18+,6.200000,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.000000
16740,16740,16741,The Poof Point,2001,7+,4.700000,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.000000
16741,16741,16742,Sharks of Lost Island,2013,18+,5.700000,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.413447
16742,16742,16743,Man Among Cheetahs,2017,18+,6.600000,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.413447
16743,16743,16744,In Beaver Valley,1950,18+,5.902751,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.000000

In [42]:
df['Rotten Tomatoes']=df['Rotten Tomatoes'].fillna(df['Rotten Tomatoes'].mean())
df['Rotten Tomatoes']=(df['Rotten Tomatoes']/10).round(1)

In [43]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.800000,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.000000
1,1,2,The Matrix,1999,18+,8.700000,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.000000
2,2,3,Avengers: Infinity War,2018,13+,8.500000,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.000000
3,3,4,Back to the Future,1985,7+,8.500000,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.000000
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.800000,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,18+,6.200000,6.5,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.000000
16740,16740,16741,The Poof Point,2001,7+,4.700000,6.5,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.000000
16741,16741,16742,Sharks of Lost Island,2013,18+,5.700000,6.5,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.413447
16742,16742,16743,Man Among Cheetahs,2017,18+,6.600000,6.5,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.413447
16743,16743,16744,In Beaver Valley,1950,18+,5.902751,6.5,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.000000

In [44]:
df['IMDb']=df['IMDb'].round(1)
df['Runtime']=df['Runtime'].round(1)

In [45]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,18+,6.2,6.5,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,6.5,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,18+,5.7,6.5,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.4
16742,16742,16743,Man Among Cheetahs,2017,18+,6.6,6.5,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.4
16743,16743,16744,In Beaver Valley,1950,18+,5.9,6.5,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [46]:
df['Type'].unique()

array([0])

In [47]:
df=df.drop(columns=['Unnamed: 0','Type','Rotten Tomatoes','ID'])

In [48]:
df

,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,18+,6.2,0,0,0,1,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,0,0,0,1,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,18+,5.7,0,0,0,1,Neil Gelinas,Documentary,United States,English,93.4
16742,Man Among Cheetahs,2017,18+,6.6,0,0,0,1,Richard Slater-Jones,Documentary,United States,English,93.4
16743,In Beaver Valley,1950,18+,5.9,0,0,0,1,James Algar,"Documentary,Short,Family",United States,English,32.0

In [49]:
#MELT :works like unpivoting ,converts cols to rows,pivot:converts from rows to columns.
#syntax=pd.melt(dataframe,id_vars,value_vars,var_name,value_name)
pd.melt(df,id_vars=['Title'],value_vars=['Netflix','Hulu','Prime Video','Disney+'])

                                Title variable  value
0                           Inception  Netflix      1
1                          The Matrix  Netflix      1
2              Avengers: Infinity War  Netflix      1
3                  Back to the Future  Netflix      1
4      The Good, the Bad and the Ugly  Netflix      1
...                               ...      ...    ...
66971       The Ghosts of Buxley Hall  Disney+      1
66972                  The Poof Point  Disney+      1
66973           Sharks of Lost Island  Disney+      1
66974              Man Among Cheetahs  Disney+      1
66975                In Beaver Valley  Disney+      1

[66976 rows x 3 columns]

In [50]:
16744*4

66976

In [51]:
pltf_df=pd.melt(df,id_vars=['Title','IMDb','Runtime'],value_vars=['Netflix','Hulu','Prime Video','Disney+'],var_name='platforms',value_name='Availability')

In [52]:
pltf_df

                                Title  IMDb  Runtime platforms  Availability
0                           Inception   8.8    148.0   Netflix             1
1                          The Matrix   8.7    136.0   Netflix             1
2              Avengers: Infinity War   8.5    149.0   Netflix             1
3                  Back to the Future   8.5    116.0   Netflix             1
4      The Good, the Bad and the Ugly   8.8    161.0   Netflix             1
...                               ...   ...      ...       ...           ...
66971       The Ghosts of Buxley Hall   6.2    120.0   Disney+             1
66972                  The Poof Point   4.7     90.0   Disney+             1
66973           Sharks of Lost Island   5.7     93.4   Disney+             1
66974              Man Among Cheetahs   6.6     93.4   Disney+             1
66975                In Beaver Valley   5.9     32.0   Disney+             1

[66976 rows x 5 columns]

In [53]:
pltf_df.columns

Index(['Title', 'IMDb', 'Runtime', 'platforms', 'Availability'], dtype='object')

In [54]:
#pltf_df=pltf_df.loc[pltf_df['Availability']==1]
# pltf_df=pltf_df.drop(columns=['Availability'])

pltf_df=pltf_df.loc[pltf_df['Availability']==1,['Title', 'IMDb', 'Runtime', 'platforms']]

In [55]:
pltf_df=pltf_df.reset_index(drop=True)

In [56]:

pltf_df

                                Title  IMDb  Runtime platforms
0                           Inception   8.8    148.0   Netflix
1                          The Matrix   8.7    136.0   Netflix
2              Avengers: Infinity War   8.5    149.0   Netflix
3                  Back to the Future   8.5    116.0   Netflix
4      The Good, the Bad and the Ugly   8.8    161.0   Netflix
...                               ...   ...      ...       ...
17376       The Ghosts of Buxley Hall   6.2    120.0   Disney+
17377                  The Poof Point   4.7     90.0   Disney+
17378           Sharks of Lost Island   5.7     93.4   Disney+
17379              Man Among Cheetahs   6.6     93.4   Disney+
17380                In Beaver Valley   5.9     32.0   Disney+

[17381 rows x 4 columns]